body {}

header {
    z-index: 500;
}

nav {
    padding: 50px 50px 50px 50px;
    z-index: 1000;
    color: #fff;
    float: right;
}

.logo {
    float: left;
}

.home {
    background-image: url(./img/slider-1.png);
    width: 1366px;
    height: 768px;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #fff;
}

.about {}

.product {}

.services {}

.contact {}